/* GLOBAL RULES */

/* TITLES */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 1280px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.header img {
  height: 40px;
  cursor: pointer;
}

.nav-elem {
  margin-left: 30px;
  color: #2cb1ba;
  text-decoration: none;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  padding: 6px 20px;
}

.nav-elem:hover {
  cursor: pointer;
  opacity: 0.8;
}

.nav-disc {
  background-color: #c2175b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 6px 20px;
  margin-left: 30px;
}

.nav-disc:hover {
  cursor: pointer;
  opacity: 0.8;
}

.sell-elem {
  margin-left: 30px;
  background-color: #2cb1ba;
  color: #fff;
  text-decoration: none;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  padding: 6px 20px;
}

.sell-elem:hover {
  cursor: pointer;
  opacity: 0.8;
}

.search {
  background-color: #f5f6f7;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  width: 490px;
  height: 37px;
  padding-left: 40px;
  opacity: 0.8;
}

.search:focus {
  border: none;
}

/* HERO SECTION */
.hero {
  height: 20px;
  margin-top: 20px;
}

.offers {
  height: 400px;
  width: 300px;
  object-fit: cover;
}

.hero-img {
  height: 455px;
  width: 100%;
  object-fit: cover;
}

.hero-section {
  position: relative;
  line-height: 1.2;
}

.effet-hero {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
}

/* HOME PAGE */
.home {
  width: 1280px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.home-cta {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  margin-top: 6%;
  background-color: #fff;
  height: 180px;
  width: 300px;
  font-size: 34px;
  padding: 25px;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
}

.hero-text {
  margin-bottom: 30px;
}

.submit-hero {
  background-color: inherit;
  width: 100%;
  background-color: #2cb1ba;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-hero:hover {
  cursor: pointer;
  opacity: 0.8;
}

.home img {
  height: 300px;
  width: 235px;
  object-fit: cover;
  margin: 10px 0;
}

.offer-desc-home {
  margin-bottom: 30px;
}

.offer-desc-home li {
  font-size: 13px;
  margin-bottom: 4px;
}

.offer-desc-home li:first-child {
  font-size: 16px;
}

.offer-desc-home li:nth-child(2),
.offer-desc-home li:nth-child(3) {
  color: grey;
}

.offer-desc-home li:nth-child(4),
.offer-desc-home li:nth-child(5),
.offer-desc-home li:nth-child(6),
.offer-desc-home li:nth-child(7) {
  display: none;
}

.home a {
  text-decoration: none;
  color: inherit;
  text-transform: lowercase;
}

.home a:first-letter {
  text-transform: uppercase;
}

.home li:first-letter {
  text-transform: uppercase;
}

/* PAGE SIGNUP */
.signup {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-top: 25px;
}

.signup > form {
  margin-top: 10px;
  width: 275px;
}

.signup form input:not(.exclude) {
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fcced3;
  width: 275px;
  height: 35px;
  font-size: 16px;
  opacity: 0.6;
}

.submit-signup {
  background-color: inherit;
  width: 100%;
  background-color: #2cb1ba;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 45px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 30px;
}

.submit-signup:hover {
  cursor: pointer;
  opacity: 0.8;
}

.lead-signup {
  font-size: 12px;
  color: #2cb1ba;
  margin-top: 20px;
  text-decoration: none;
}

.checkbox-container {
  display: flex;
  font-size: 16px;
  justify-content: space-evenly;
  align-items: center;
  transform: scale(1.1);
  padding: 0 15px;
}

.checkbox-elem {
  cursor: pointer;
  transform: scale(1.7);
}

.subtext {
  font-size: 12px;
  text-decoration: none;
  margin-top: 10px;
  line-height: 1.2;
}

/* PAGE LOGIN */
.login {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  height: 400px;
}

.login > form {
  margin-top: 10px;
  width: 275px;
}

.login form input:not(:last-child) {
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fcced3;
  width: 275px;
  height: 35px;
  font-size: 16px;
  opacity: 0.6;
}

.submit {
  background-color: inherit;
  width: 100%;
  background-color: #2cb1ba;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 45px;
  border-radius: 5px;
  font-size: 16px;
}

.submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

.lead {
  font-size: 12px;
  color: #2cb1ba;
  margin-top: 20px;
  text-decoration: none;
}

/* PAGE PUBLISH */
.publish {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-top: 25px;
}

.publish > form {
  margin-top: 10px;
  width: 515px;
}

.publish form input:not(.exclude) {
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fcced3;
  width: 275px;
  height: 35px;
  font-size: 16px;
  opacity: 0.6;
}

.submit-publish {
  background-color: inherit;
  width: 100%;
  background-color: #2cb1ba;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 45px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 30px;
}

.submit-publish:hover {
  cursor: pointer;
  opacity: 0.8;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-pic {
  margin-bottom: 10px;
}

.pic-select {
  margin-bottom: 25px;
}

/* PAGE OFFER */
.offers-container {
  background-color: #ebedee;
  height: 900px;
  font-family: "Roboto", sans-serif;
}

.offers {
  display: flex;
  width: 1280px;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 30px;
  align-content: center;
}

.offers img {
  height: 605px;
  width: 450px;
  object-fit: cover;
}

.offer-desc {
  height: 525px;
  width: 370px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

.price-item {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.prop-desc {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.sub-desc {
  text-align: center;
}

.prop,
.prop-item {
  font-size: 13px;
}

.prop {
  color: #999;
}

.submit-offer {
  background-color: #2cb1ba;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 45px;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-offer:hover {
  opacity: 0.8;
}

/* PAGE PAYMENT */
.payment-page {
  width: 600px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.payment-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-form {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.payment-form button {
  background-color: #00bb6a;
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
}

.payment-form button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.payment-form button:active {
  background-color: #2cb1ba;
}

.payment-container ul {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 400px;
}

.payment-container li {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.payment-container p {
  line-height: 1.6;
}

.product {
  color: #999;
}

.bold {
  font-weight: 700;
}

/* FOOTER  */
.footer {
  height: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid lightgrey;
  font-family: "Roboto", sans-serif;
}
