/* GLOBAL RULES */

/* TITLES */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 1280px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.header img {
  height: 40px;
  cursor: pointer;
}

.nav-elem {
  margin-left: 30px;
  color: #2cb1ba;
  text-decoration: none;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  padding: 6px 20px;
}

.nav-disc {
  background-color: #c2175b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 6px 20px;
  margin-left: 30px;
}

.sell-elem {
  margin-left: 30px;
  background-color: #2cb1ba;
  color: #fff;
  text-decoration: none;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  padding: 6px 20px;
}

.search {
  background-color: #f5f6f7;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  width: 490px;
  height: 37px;
  padding-left: 40px;
  opacity: 0.8;
}

.search:focus {
  border: none;
}

/* HERO SECTION */
.hero {
  height: 20px;
  margin-top: 20px;
}

.offers {
  height: 400px;
  width: 300px;
  object-fit: cover;
}

.hero-img {
  height: 455px;
  width: 100%;
  object-fit: cover;
}

.hero-section {
  position: relative;
}

.effet-hero {
  position: absolute;
  bottom: 0;
  right: 0;
  /* height: 50px; */
  width: 40%;
}

/* .hero-cta-container {
  width: 1280px;
  position: relative;
  margin: 0 auto;
} */

/* HOME PAGE */
.home {
  width: 1280px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

/* .body {
  width: 1280px;
  margin: 0 auto;
  position: relative;
} */

.home-cta {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8%;
  margin-top: 10%;
}

.home img {
  height: 300px;
  width: 235px;
  object-fit: cover;
  margin: 10px 0;
}

.offer-desc-home {
  margin-bottom: 30px;
}

.offer-desc-home li {
  font-size: 13px;
}

.home a {
  text-decoration: none;
  color: inherit;
  text-transform: lowercase;
}

.home a:first-letter {
  text-transform: uppercase;
}

.home li:first-letter {
  text-transform: uppercase;
}

/* PAGE SIGNUP */
.signup {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-top: 25px;
}

.signup > form {
  margin-top: 10px;
  width: 275px;
}

.signup form input:not(.exclude) {
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fcced3;
  width: 275px;
  height: 35px;
  font-size: 16px;
  opacity: 0.6;
}

.submit-signup {
  background-color: inherit;
  width: 100%;
  background-color: #2cb1ba;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 45px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 30px;
}

.lead-signup {
  font-size: 12px;
  color: #2cb1ba;
  margin-top: 20px;
  text-decoration: none;
}

.checkbox-container {
  display: flex;
  font-size: 16px;
  justify-content: space-evenly;
  align-items: center;
  transform: scale(1.1);
  padding: 0 15px;
}

.checkbox-elem {
  cursor: pointer;
  transform: scale(1.7);
}

.subtext {
  font-size: 12px;
  text-decoration: none;
  margin-top: 10px;
  line-height: 1.2;
}

/* PAGE LOGIN */
.login {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  height: 400px;
}

.login > form {
  margin-top: 10px;
  width: 275px;
}

.login form input:not(:last-child) {
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fcced3;
  width: 275px;
  height: 35px;
  font-size: 16px;
  opacity: 0.6;
}

.submit {
  background-color: inherit;
  width: 100%;
  background-color: #2cb1ba;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 45px;
  border-radius: 5px;
  font-size: 16px;
}

.lead {
  font-size: 12px;
  color: #2cb1ba;
  margin-top: 20px;
  text-decoration: none;
}

/* PAGE PUBLISH */
.publish {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-top: 25px;
}

.publish > form {
  margin-top: 10px;
  width: 275px;
}

.publish form input:not(.exclude) {
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fcced3;
  width: 275px;
  height: 35px;
  font-size: 16px;
  opacity: 0.6;
}

.submit-publish {
  background-color: inherit;
  width: 100%;
  background-color: #2cb1ba;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 45px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 30px;
}

/* PAGE OFFER */
.offers-container {
  background-color: #ebedee;
  height: 900px;
  font-family: "Roboto", sans-serif;
}

.offers {
  display: flex;
  width: 1280px;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 30px;
  align-content: center;
}

.offers img {
  height: 605px;
  width: 450px;
  object-fit: cover;
}

.offer-desc {
  /* height: 530px; */
  width: 370px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

.price-item {
  text-align: center;
  font-size: 30px;
}

.prop-desc {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.prop,
.prop-item {
  font-size: 13px;
}

.prop {
  color: #999;
}

/* FOOTER  */
.footer {
  height: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid lightgrey;
  font-family: "Roboto", sans-serif;
}
